version: "3.8"

services:
  # ==========================
  # AUTH SERVICE
  # ==========================
  auth-service:
    build: "./Auth-service"
    container_name: Auth-service
    ports:
      - "4000:4000"
    environment:
      - MONGO_URL=mongodb://auth-mongo:27017/authDB
      - REDIS_URL=redis://auth-redis:6379
      - APP_PASSWORD=vtbytwkofwmbmugg
      - EMAIL_USER=developer.athul.mern@gmail.com
      - EMAIL_PASS=vtbytwkofwmbmugg
      - JWT_SECRET=yourSecret                 

    depends_on:
      - auth-mongo
      - auth-redis

  auth-mongo:
    image: mongo
    container_name: auth-DB
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - auth_mongo_data:/data/db

  auth-redis:
    image: redis:alpine
    container_name: auth-redis
    restart: always
    ports:
      - "6379:6379"

  # ==========================
  # MENTOR SERVICE
  # ==========================
  # mentor-service:
  #   build: "./Mentor-service"
  #   container_name: ttp-mentor
  #   ports:
  #     - "4003:4000"
  #   environment:
  #     - MONGO_URL=mongodb://mentor-mongo:27017/mentorDB
  #   depends_on:
  #     - mentor-mongo

  # mentor-mongo:
  #   image: mongo
  #   container_name: mentor-mongo
  #   restart: always
  #   ports:
  #     - "27018:27017"
  #   volumes:
  #     - mentor_mongo_data:/data/db

volumes:
  auth_mongo_data:
  # mentor_mongo_data:
