services:
  api-gateway:
    build: ./API-Gateway
    container_name: api-gateway
    ports:
      - "3000:8080"
    environment:
      - PORT=8080
      - AUTH_SERVICE_URL=http://auth-service:8080
      - MENTOR_SERVICE_URL=http://mentor-service:8080
    env_file:
      - ./API-Gateway/.env
    depends_on:
      - auth-service
      - mentor-service
    networks:
      - backend-network

  auth-service:
    build: ./Auth-service
    container_name: auth-service
    expose:
      - "8080"
    environment:
      - PORT=8080
    env_file:
      - ./Auth-service/.env
    networks:
      - backend-network

  mentor-service:
    build: ./Mentor-service
    container_name: mentor-service
    expose:
      - "8080"
    environment:
      - PORT=8080
    env_file:
      - ./Mentor-service/.env
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
